// couleurs

$primary:#053170;
$secondary:#0136D4;
$light:#E9E9E9;
$dark:#1E1E1E;
$rouge: #FE0000;
$vert: #01CC00;
$jaune: #F89400;

// radius

$radius-pm: 32px;
$radius-gm: 50px;

// font

$stara: 'stara', sans-serif;
// $ammonite: 'ammonite';

// size

$size-pm: 16px;
$size-xs: 12px;
$size-gm: 24px;
$size-xl: 64px;
$size-xxl: 96px;
